
{% if sent %}
        <h2 style="text-align: center; ">E-mail was successfully sent</h2>
        <!-- <p>
        email was successfully sent .
        </p> -->
{% else %}




    <section id="signup" >

    
            <form id="signup-form" action="{% url 'blog:contact_us'  %}" method="POST">
                
                <div class="my-form">
                        <h2><i class="fa-solid fa-envelope"></i> Let's hear from you!  </h2>   
                        {{ form.as_p }}                                             
                        {% csrf_token %}
                </div>
                        <input type="submit"    value="Send e-mail"  >
            </form>

    
    </section>

{% endif %}


