
        {% with comments.count as total_comments %}
        <h2>
          {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %}


        <div  class="color-black">
          You can add Your
          <a href="{% url 'blog:comment_page'  post.id  %}" class="click-text" >
            comment here
          </a>          
        </div>
        <br>
        
        {% for comment in comments %}
          <div class="comment color-black">
              <p class="color-black bold">
               <span class="color-black bold"> Comment {{ forloop.counter }} by  </span> <span class="name-color bold">{{ comment.name|safe }} </span>
                <span class ="date color-black bold">{{ comment.created }} </span>
              </p>
              <p class="info ">
                  {{ comment.body|linebreaks }}
              </p> 

              {%if comment.email == request.user.email %}
              You are author of this comment, You can <a href="{% url 'blog:edit_comment' comment.id %}"  class="click-text">Edit or Delete</a> it
              {% else %}
                  Different email
              {% endif %} 
           </div>


          {% empty %}
          <p>There are no comments.</p>
        {% endfor %}