
{% load blog_tags %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- meta tags for search engines-->
   <meta name="description"  content="hacks, lifehacks" >
   <meta name="keywords" content="hacks, lifehacks, DIY, kitchen, household">

  <title>Lifehack Indeed</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'blog_static/images/favicon_io/favicon.ico' %}">
 
   <link rel="apple-touch-icon" sizes="100x100" href="{% static 'blog_static/images/favicon_io/apple-touch-icon.png' %}" >
   <link rel="icon" sizes="32x32" href="{% static 'blog_static/images/favicon_io/favicon-32x32.png' %}"  >
   <link rel="icon" sizes="16x16" href="{% static 'blog_static/images/favicon_io/favicon-16x16.png' %}" >

   
    <!-- Stylesheet -->   
   <link rel="stylesheet" href="{% static 'blog_static/css/style.css' %}" >    
   <link rel="stylesheet" href="{% static 'account_static/css/base.css' %}" >  
    
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_base.css' %}" >   
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_home.css' %}" >   
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_sidebar.css' %}" >  
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_list.css' %}" >  
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_detail.css' %}" > 
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_comments.css' %}" > 
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_forms.css' %}" >
   <link rel="stylesheet" href="{% static 'blog_static/css/blog_dashboard.css' %}" >

</head>

<body>
   <!-- Based on the design by Code Institute, "Love Running", 2024 -->
  <!--  Header-->

      <header >
            <a href="{% url 'blog:home_page'  %}">
              <h1 id="logo">Lifehack Indeed</h1>
            </a>
            <input type="checkbox" id="nav-toggled" name="nav-toggled">
            <label for="nav-toggled" class="nav-toggled-label"><i class="fa-solid fa-bars"></i></label>
            <nav>

              <ul id="menu" >
                <li> <a href="{% url 'blog:home_page'  %}" class="active">Home</a> </li>
                <li>
                  
                  <label for="cat-toggled" class="cat-toggled-label">Category</label>
                  <input type="checkbox" id="cat-toggled" name="cat-toggled" >
                    <ul id="cat-menu">
                      <li><a href="{% url 'blog:post_list_by_tag' 'diy'  %}" >DIY</a></li>
                      <li><a href="{% url 'blog:post_list_by_tag' 'kitchen'  %}"  >Kitchen</a></li>
                      <li><a href="{% url 'blog:post_list_by_tag' 'household'  %}"  >Household</a></li>
                      <li><a href="{% url 'blog:post_list_by_tag' 'other'  %}"  >Other</a></li>         

                    </ul>

                </li>
                <li><a href="{% url 'blog:contact_us'  %}">Contact</a></li>
              </ul>

            </nav> 
      </header>   


    <!-- main content-->
     <main>

     
      <div> 
        {% include "blog/post/includes/dashboard_header.html" %} 
      </div>     
      
      
       <div class="flex-container" >   
        
            <!-- content comes here: -->
            <div class="content"     >

                {% block content %}
                {% endblock %}
                
            </div> 

            <!--         sidebar -->
            <div> 
              {% include "blog/post/includes/sidebar.html" %} 
            </div>     

        </div >   
            
    </main>


    <footer> 
        <ul  id="social-networks">

        <li> <a href="https://www.facebook.com/" target="_blank" rel="noopener"  
          aria-label="Visit our Facebook page (opens in a new tab)">
          <i class="fa-brands fa-square-facebook"></i>
        </a> 
        </li>
        
        <li><a href="https://x.com/?lang=en" target="_blank" rel="noopener"  
          aria-label="Visit our twitter page (opens in a new tab)">
          <i class="fa-brands fa-square-x-twitter"></i>
        </a> 
        </li>

        <li>
          <a href="https://www.youtube.com/" target="_blank" rel="noopener"  
          aria-label="Visit our youtube page (opens in a new tab)">
          <i class="fa-brands fa-square-youtube"></i>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener"  
          aria-label="Visit our instagram page (opens in a new tab)">
          <i class="fa-brands fa-square-instagram"></i>
          </a>
        </li>
      </ul>



    </footer>
      <!-- fontawesome kit -->
      <script src="https://kit.fontawesome.com/74c90bdddd.js" crossorigin="anonymous"></script>
</body>
</html>