{% extends "blog/base.html" %}

{% load blog_tags %}


{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div>
  <h1>{{ post.title }}</h1>
  <img src="{% static post.hack_image  %}"  style="height: 200px;" alt=" Lady filling bucket with pool noodle" >  
  
</div>
    Published {{ post.publish }} by {{ post.author }}
  </p>
  <!-- {{ post.body|linebreaks }} -->

  {{ post.body|markdown}}
  <!--    {{ post.body}} -->



  <p>
    <a href="{% url 'blog:post_share' post.id %}">
      Share this post
    </a>
  </p>

  <h2>Similar posts</h2>
  {% for post in similar_posts %}
    <p>
       <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
    There are no similar posts yet.
  {% endfor %}




  {% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
  {% endwith %}
  
  {% for comment in comments %}
    <div class="comment">
        <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments.</p>
  {% endfor %}
   
  
  {%comment%}
  {% include "blog/post/includes/comment_form.html" %} 
  {%endcomment%}  
  <p>

    You can add or edit comment
    <a href="{% url 'blog:comment_page'  post.id  %}">
      HERE
    </a>
    
  </p>

{% endblock %}
