

{% extends "blog/base.html" %}

{% load static %}

{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>Lifehacks review blog </h1>
 

  {% if tag %}
    <h4>Posts tagged with "{{ tag.name }}":</h4>
  {% endif %}  

  {% for post in posts %}
    <h2>     
      <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
      </a>
    </h2>
    
    <hr class="hr-line">  
    <div class="row">
              <!-- example  1 -->
                    <div class="example" >
                        
                            <div  class="unit-box-diy">
                              
                              <img src="{% static post.hack_image  %}" alt=" Lady filling bucket with pool noodle" >  
                                  <div  style="flex-grow: 2;">
                                      <h4>lifehack</h4>                    
                                      <p >{{ post.body_hack }}</p>  

                                  </div>
                            </div>                      
                    </div>

                    <div class="example" >                      
                              <div class="unit-box-diy">

                                <div >
                                  <h4>Really?</h4>                    
                                  <p >{{ post.body_comment }}.</p>  
                                </div>
                                <img src="{% static post.comment_image %}" alt=" Lady confusingly staring at laptop" >               
                              
                              </div>
                    </div>          
       <!-- end of example 1 -->          
      </div> 


    <!-- <p class="tags">Tags:  -->
      <p>Tags:
      {% for tag in post.tags.all %}
        <a href="{% url 'blog:post_list_by_tag' tag.slug  %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>



   

    <!-- {{ post.body|truncatewords:30|linebreaks }} -->

    {{ post.body|markdown|truncatewords_html:30}}

  {% endfor %}

  {% include "pagination.html" with page=posts %}

  <!-- {% include "pagination.html" with page=page_obj %} -->

{% endblock %}
